# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-

# .rebooted is a watched file for live-reload. we can ignore this
.rebooted
node_modules
.idea/
*.iml