<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>@model.title</title>
    <script type="text/javascript" src="/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type="text/javascript" src="/lib/css-browser-selector.js"></script>
    
    <link href="http://tv.esquire.com/bundles/style/less/web?v=n1IaCBcO2fAuR-cu4SeLxohsJYjWOT1WA3S1IRB7Ob01" rel="stylesheet"/>
    <link href="/css/esq.css" rel="stylesheet"> 

    @html.block("css")
    @html.include('modules/googlePublisherTag', model)
  </head>
  <body>
    <div id="main-wrapper">

      @html.include('header', model)

      @html.block("pageTitle")

      @html.block("featured")
      @html.block("body")
      
      @html.include('footer', model)
    </div>
    <!-- inject -->
    <script src="//localhost:35729/livereload.js"></script>
    @html.block("scripts")    
  </body>
</html>