@html.extend('layout', function(model){
  @html.block("body", function(model){

  <div id="wrapper" >
    <div id="slider" class="flexslider" style="margin: 0 auto;">      
         @html.include('modules/slider', model)
    </div>
  </div>
  
  })

  @html.block("scripts", function(model){        
    <script type="text/javascript" src="lib/require.js" data-main="lib/home.js"></script>
  })

  @html.block("css", function (model) {

    <link href="http://tv.esquire.com/bundles/style/less/home?v=PEujNSbvQasPf6l8aYDj_w9CMLhggchGm_3OrJ6V_Qg1" rel="stylesheet"/>

  })
})