@html.extend('./layout', function(model){

  @html.block("css", function(model){
    <link href="http://tv.esquire.com/bundles/style/less/shows?v=uDsd0XsDp0FO5Tf-fJ9eMd_3I6PLZH2kbBTCmkU7ug81" rel="stylesheet">   
  })


  @html.block("body", function(model){

  @{
      var promoDictionary = {};
      var promos = model.promos;
  }

  @if(model.error)
  {
    <p>Error occured: @model.error</p>
  }
        
    <div id="wrapper">    
      <div class="image-container" data-img-src="@model.show.BackgroundImage">
          <img src="@model.show.BackgroundImage" class="show-image" />
      </div>
      <div class="promo-block">
        <div class="container">
            <ul>
              <li><img src='@(promos.promo1.ImageUrl)'/><p> @promos.promo1.Title</p><a class="promo-click-area" href="@promos.promo1.LinkUrl"></a></li>
              <li><img src='@(promos.promo2.ImageUrl)'/><p> @promos.promo2.Title</p><a class="promo-click-area" href="@promos.promo2.LinkUrl"></a></li>
              <li><img src='@(promos.promo3.ImageUrl)'/><p> @promos.promo3.Title</p><a class="promo-click-area" href="@promos.promo3.LinkUrl"></a></li>
              <li><img src='@(promos.promo4.ImageUrl)'/><p> @promos.promo4.Title</p><a class="promo-click-area" href="@promos.promo4.LinkUrl"></a></li>
            </ul>

            
        </div>
    </div>
    </div><!-- end wrapper -->
      
  
  })

  @html.block("scripts", function(model){        
    <script type="text/javascript" src="/lib/require.js" data-main="/lib/common.js"></script>
  })
})